<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_4DOKMAG.Properties.Settings.ConnectionString" connectionString="Data Source=SLAWEK;database=4DOK_MAG;user id=superuser;password=123;connection timeout=60;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>